Sphinx<1.8>1.7
six

# Used to rewrite the Atom feed to use absolute links
lxml==4.2.1

# https://github.com/abakan/ablog/pull/93
git+https://github.com/tadeboro/ablog@cc099ccdfac85a4c2f4a64ecf04e17b3019ce5a7#egg=ablog-dev
