Sphinx==5.3.0
sphinxext-opengraph==0.4.2
docutils<0.18
# jinja2<3.1.0

# Used to rewrite the Atom feed to use absolute links
lxml==4.9.1

ablog==0.10.26
# This dependencie from ablog needs to be pinned
# werkzeug==0.16.1
