div.section h1 {
    font-size: 1.3em;
}

div.section h2 {
    font-size: 1.2em;
}

div.section h3 {
    font-size: 1.1em;
}

div.section h4, div.section h5, div.section h6 {
    font-size: 1em;
}

div.section ul {
    list-style: inside;
    margin: 1em;
}

div.section p,
div.section ul li,
div.sidebar ul li {
    margin: .5em;
    line-height: 1.4em;
}

a.headerlink {
    display: none;
    padding: 0em .5em;
}

h1:hover a.headerlink {
    display: inline;
}

ul.post-details {
    padding-top: 2em;
}

ul.post-details li i.fa {
    color: #998;
}

dl {
    margin: 1em 1.5em;
}

dl dt {
    font-weight: bold;
}

dl dd {
    line-height: 1.5em;
    margin: 1em;
}

dl.docutils dd p, dl dd p {
    margin-left: 0em;
    margin-right: 0em;
}

#header img {
    width: initial;
    vertical-align: bottom;
}

#header h1 {
    margin: 0em;
    line-height: 48px;
}

div.admonition {
    padding: .65em;
    margin: 1em 0em;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    background: #f0f0f0;
}

div.admonition p.admonition-title {
    font-weight: bold;
}

table.footnote {
    margin: 1em;
}

table.footnote td.label {
    padding: .65em;
}
